<ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jackies
    </ion-title>
    <ion-buttons class="header-button" [routerLink]="['/cart']" slot="end">
     
        <ion-icon name="cart"></ion-icon>
   
    </ion-buttons>
  </ion-toolbar>
