.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}
.toolbar-title {
    color: #FFFFFF
  }

  .toolbar-background {
    background-color: #017EC0;
  }
  h4{ font-size:16px; color: #000; font-family: cursive; text-align: left;}

h2{ margin: 30px 10px auto;
    font-size: 18px;
    font-weight: bold;
}
.padd10{ padding: 10px 0; }
ion-icon{ font-size:28px; }
.mb-15 { margin-bottom: 15px; }



    .btncrt { font-size: 11px; padding: 3px 12px;  color: white; border-radius: 4px;  margin:14px;}
    #field1 { margin:10px 20px 12px 0;  border: 1px solid red; padding: 5px;}
    #field1 input { width: 28px; height:24px;margin:0 5px; text-align: center; border: 1px solid black; }
     #field1 button{ height:24px; width: 24px; text-align: center; border-radius:50%; color:white;background-color:red;  }

    .inlinebtn { display: inline-flex; text-align:center; }
  
    /*@media screen and (min-width:300px) and (max-width:780px){*/

        .inlinebtn { margin: auto; }
    
.addbtn:hover{ background-color: red; color: white; font-weight: bold;}

  .addbtn{ font-size: 14px; color: red; height: 36px; margin-top: 10px;
    background-color: white; border: 1px solid red; padding: 4px 12px; border-radius: 5px; } 


.radiotxt ion-item { font-size: 13px; font-family: cursive; }

.menuimg img{ width: 110px; height: 110px; }



.radiotxt  ion-label { font-family: cursive; }
