<ion-header color="primary" class="toolbar-background">
   <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jackies
    </ion-title>
    <ion-buttons  class="header-button cartc" [routerLink]="['/cart']" slot="end">
        
    <ion-icon  name="cart"></ion-icon>
       
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
   <h2>{{category_name}}</h2>
   <ion-col *ngFor="let item of subcategories let i=index" size="6">
      <ion-card class="welcome-card">
         <div class="list card">
            <div class="item item-avatar">
               <ion-row class="padd10">
                  <ion-col size="5">
                     <div class="menuimg">
                     <img src="{{item.image}}" width="30%">
                     </div>
                  </ion-col>
                  <ion-col size="7">
                     <h4>{{item.name}}</h4>
                     <ion-radio-group class="radiotxt">
                        <ion-item *ngFor="let types of item.itemdetails">
                           
                           <ion-radio (click)="addToCart(item.menu_id, types.Type)"   value="{{item.name}}-{{types.Type}}"></ion-radio> &nbsp;&nbsp;&nbsp;
                           <ion-label>{{types.Type}} - ₹  {{types?.Price[0]}}</ion-label>
                        </ion-item>
                     </ion-radio-group>
         
                  </ion-col>
                  <span class="inlinebtn">
            <div id="field1">
               <button type="button" id="sub"  class="sub" (click)="decreamentQty(i, item.qty)" >-</button>
               <input type="number" id="qty_{{i}}" [(ngModel)]="item.qty"  />

               <button type="button" id="add" class="add" (click)="increamentQty(i, item.qty)" >+</button>

                
            </div>
<button type="button" class="btn addbtn">ADD<SUP>+</SUP></button>
         </span>
               </ion-row>
            </div>
           
         </div>
      </ion-card>
   </ion-col>
    
  
</ion-content>