<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons   slot="start">
                <ion-back-button   defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>My-Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
   <ion-item>
   <ion-button slot="end" color="danger">Re-Order</ion-button>
         
          <ion-label>
             <ion-card-title id="spname">Shreeram Sweets</ion-card-title>
         <p>Uttam Nagar</p>
         <p> ₹ 330 </p>
         <p>9 April 2:40 pm</p>
          </ion-label>
        </ion-item>
      </ion-card>
        <hr class="hrstyle">
        <ion-card>
   <ion-item>
   <ion-button slot="end" color="danger">Re-Order</ion-button>
         
          <ion-label>
             <ion-card-title id="spname">Shreeram Sweets</ion-card-title>
         <p>Uttam Nagar</p>
         <p> ₹ 330 </p>
         <p>9 April 2:40 pm</p>
          </ion-label>
        </ion-item>
      </ion-card>

  
</ion-content>
