// .ion-color-dark {
//     --ion-color-base: var(--ion-color-dark, #de008c) !important;
//     --ion-color-base-rgb: var(--ion-color-dark-rgb, 34, 36, 40) !important;
//     --ion-color-contrast: var(--ion-color-dark-contrast, #fafafa) !important;
// }
#myorderlist ion-label, ion-text { color: #000; font-weight: 500;}
.hrstyle{  border-top: 1px dashed black; }