<ion-header>
  <ion-toolbar>
    <ion-title>food-menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	  <ion-card>
        <img src="http://www.theterracekitchen.in/wp-content/uploads/2019/07/048.-Chicken-Momos_545X545.png" />
        <ion-card-header>
  
          <ion-card-title>Crispy Honey Chili potato</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vage</td>
      <td>70</td>
    </tr>
    <tr>
      
      <td>Chiken</td>
      <td>110</td>
    </tr>
    <tr>
      
      <td>Prawan</td>
      <td>80</td>
    </tr>
  </tbody>
</table>
        </ion-card-content>
        <ion-button expand="block">Order Now</ion-button>
      </ion-card>

      
  <ion-card>
        <img src="https://www.rachnas-kitchen.com/wp-content/uploads/2014/09/P1070413.jpg" />
        <ion-card-header>
  
          <ion-card-title>Crispy Honey Chili potato</ion-card-title>
        </ion-card-header>
        <ion-card-content>
        <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Price</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Vage</td>
      <td>70</td>
    </tr>
    <tr>
      
      <td>Chiken</td>
      <td>110</td>
    </tr>
    <tr>
      
      <td>Prawan</td>
      <td>80</td>
    </tr>
  </tbody>
</table>
        </ion-card-content>
        <ion-button expand="block">Order Now</ion-button>
      </ion-card>
</ion-content>
