<ion-header>
  <ion-toolbar color="primary">
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div text-center>
          <img src="http://jackies.in/assets/wp-content/themes/MyCuisine/images/logo.png">
        </div>
        <div padding class="formicon">
          <ion-item>
            <ion-input type="text" placeholder="Username">   <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="password" placeholder="Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input>
          </ion-item>
        </div>

        <div padding>
          <ion-button href="/home" expand="block">Login</ion-button>
        </div>
         <p> Create account ? <a href="register"><b>Sign Up</b></a> </p>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
