
ion-row {
  height:100%;
}

ion-col {
  border: 1px solid #488aff;
  background: #fff;
}

ion-button {
  font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
  ion-grid {
    background: #fff;
  }
  ion-col {
    border: none;
  }
}

.logtext ion-label{ margin-left: 8px; font-size: 13px;}