<ion-header>
  <ion-toolbar color="primary">
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center>
                    <img src="http://jackies.in/assets/wp-content/themes/MyCuisine/images/logo.png">
                </div>
                <div padding class="formicon">
                    <ion-item>
                        <ion-input type="text" placeholder="First Name">   <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="last Name">   <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="mail" placeholder="E-mail"> <ion-icon name="mail"></ion-icon>  </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-input type="number" name="phoneNumber" placeholder="Phone Number" required="required" minlength="10" ><ion-icon name="call"></ion-icon>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Re-Enter Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input>
                    </ion-item>

                    <ion-list>
                        <ion-radio-group>
                            <ion-list-header>
                                Send OTP to ?
                            </ion-list-header>

                            <ion-item class="logtext">

                                <ion-radio value="E-mail"></ion-radio>
                                <ion-label>E-mail</ion-label>
                                <ion-radio value="Phone Number"></ion-radio>
                                <ion-label>Phone Number</ion-label>
                            </ion-item>
                        </ion-radio-group>
                    </ion-list>
                </div>

                <div padding>
                    <ion-button  href="/home" expand="block">Sign Up</ion-button>
                   <p>Already have an account ? <a href="login"><b>Log In</b></a> </p>

                </div>





            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>

