<ion-header class="toolbar-background">
   <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Cart
    </ion-title>
    <ion-buttons  class="header-button cartc" [routerLink]="['/cart']" slot="end">
        
    <ion-icon  name="cart"></ion-icon>
       
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
          <ion-card-header>
            <ion-card-title>Your Order - 0</ion-card-title>
          </ion-card-header>
        </ion-card>
        


        <ion-card >
          <ion-row>
            <ion-col size="4">
              <div class="imgsize">
              <img src="https://cdn4.iconfinder.com/data/icons/logistics-and-delivery-vol-2/64/order-delivery-512.png">
              </div>
            </ion-col>
            <ion-col>
              <ion-card-title>
                Butterscotch
              </ion-card-title>
              <ion-card-subtitle>
              ₹ 100
              </ion-card-subtitle>
            
             <br>
              <div class="cartbtnsec">
             <li> <ion-button (click)="decreamentQty()" >-</ion-button></li>
             <li><ion-input class="inputext" value="1" [(ngModel)]="qty" ></ion-input></li>
             <li><ion-button (click)="increamentQty()" >+</ion-button></li>
             <p  class="cart-price">  <ion-text class="cart-price2"> RS 200</ion-text></p>
            </div>
            </ion-col>
          </ion-row>
          
        </ion-card>


 <ion-card>
        <ion-card-content>
        <table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">DISCOUNT</th>
      <th scope="col">5%</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>TAX</td>
      <td>5%</td>
    </tr>
    <tr>
      
      <td>SHIPPING</td>
      <td>40</td>
    </tr>
    <tr>
      
      <td>TOTAL</td>
      <td>151</td>
    </tr>
  </tbody>
</table>
        </ion-card-content>
        <ion-button [routerLink]="['/check-out']" expand="block" >Order Now</ion-button>
      </ion-card>


</ion-content>
