ion-col{
	text-align:left;
	font-size:smaller;
}
.cartbtnsec { display: inline-flex; margin-top: 10px; }
.cartbtnsec li { display: inline-block; margin-left: 5px; }
.cart-price2 { margin-top: 10px;  margin-left: 21px; font-weight: bold; font-size: 18px;}
.cart-price{ margin-top: 10px;}
.inputext { width: 35px;
    height: 30px;
    margin: 4px 5px 0;
    border: 1px solid black; }
  .cartbtnsec ion-button { height:30px; width: 30px; 
	text-align: center; border-radius:50%; color:white;background-color:red;  }
.imgsize img{ height: 110px; width: 100px; }
ion-card-title{ font-family: cursive;font-size: 24px; }
ion-card-subtitle{ font-size: 18px;  }

ion-icon{ font-size:28px; }

table{ width:100%;}
th{ font-size:15px; color:#000; font-weight:bold;}
td {  color:#000; margin-top:6px; font-size:15px;font-weight:bold;}
