<ion-header class="toolbar-background">
   <ion-toolbar color="primary">
    <ion-buttons   slot="start">
                <ion-back-button   defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card">
		<ion-text>
      <p>
			Jackie's is Vasant Kunj's favourite neighbourhood Chinese Eatery since 2017 serving authentic Chinese cuisine at the most affordable rates in Vasant kunj, New Delhi. We offer the finest quality Chinese food at very economic prices. We are casual dine restaurant in Vasant Square Mall along with dine in we also have food delivery service making sure you never miss your favourite food whether at home or at your workplace in Vasant Kunj and Neighboring surroundings (Vasant Vihar, Chattarpur, Aerocity). We do offer service for event and celebrations at the restaurant. For ordering online go to our menu section or Download Jackie's App so that the tasty food is never away from you! We are available on app store and google play store.
    </p>
    </ion-text>
</ion-card>
</ion-content>
