ion-text{
	padding:20px;
}
ion-icon{ font-size:28px; }
.sc-ion-card-md-h { background-color: #ed008c!important;}
 
ion-title { text-align: left; color: #fafafa; font-size: 16px; text-transform: uppercase; font-weight: 900;}
.welcome-card p{ font-family: monospace; text-align: justify; color: #fafafa; font-size: 14px; padding: 10px 10%; line-height: 19px; }


ion-header{ background:red!important;}