<ion-header class="toolbar-background">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      New Address
    </ion-title>
    <ion-buttons class="header-button" [routerLink]="['/cart']" slot="end">
      <button ion-button>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <form onsubmit="processForm(event)">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Address<ion-text color="danger">*</ion-text></ion-label>
      </ion-item>
        <ion-item>
        <ion-input placeholder="Address Line 1"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input placeholder="Address Line 2"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input placeholder="City"></ion-input>
        </ion-item>
        <ion-item>
        <ion-input placeholder="State"></ion-input>
        </ion-item>
        <ion-item>

        <ion-input placeholder="Zip Code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">submit</ion-button>
    </div>
  </form>
</ion-content>


<!-- <ion-content>
    <div class="row">
        <div class="col-75">
          <div class="container" id="addressform">
            <form class="add-addressform" action="/action_page.php">
            
              <div class="row">
                <div class="col-50">
                  
                  <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                  <input type="text" id="fname" name="firstname" >
                  <label for="email"><i class="fa fa-envelope"></i> Email</label>
                  <input type="text" id="email" name="email">
                  <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                  <input type="text" id="adr" name="address" >
                  <label for="city"><i class="fa fa-institution"></i> City</label>
                  <input type="text" id="city" name="city" >
                  <label for="state">State</label>
                  <input type="text" id="state" name="state" >
                  <label for="zip">Zip</label>
                  <input type="text" id="zip" name="zip">
      
                </div>
      
              
                
              </div>
             
              <input type="submit" value="submit" class="btn">
            </form>
          </div>
        </div>
       
      </div>
</ion-content> -->
