<ion-header class="toolbar-background">
  <!-- <app-header></app-header> -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Jackies
    </ion-title>
    <ion-buttons  class="header-button cartc" [routerLink]="['/cart']" slot="end">
        
    <ion-icon  name="cart"></ion-icon>
       
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides>
    <ion-slide>
      <img src="assets/images/slider.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slider.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slider.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="assets/images/slider.jpg" alt="">
    </ion-slide>
  </ion-slides>

  <h3 class="timing">Order Timing : 12:00 PM to 10:30 PM</h3>
 
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of results" size="6">
     <ion-card class="welcome-card" [routerLink]="['/menu-page/'+ item.category_id]">

          <img src="https://smedia2.intoday.in/aajtak/images/stories/072017/soojikerasgulle-pakwangali_520_072317031348.jpg" width="30%">


    <ion-card-content>
      <ion-card-title>
       {{item.name}}
      </ion-card-title>
      
    </ion-card-content>

  

  </ion-card>
</ion-col>

     <!--  <ion-col *ngFor="let item of results" size="6">
        <ion-card class="welcome-card" [routerLink]="['/menu-page/'+ item.category_id]">
          <ion-card-header>
           
           <img src="{{item.image}}" >

            <img src="https://amp.insider.com/images/5bbd187101145529745a9895-750-563.jpg">
            <ion-card-subtitle>{{item.name}}</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
       -->

    </ion-row>
  </ion-grid>
 
 

    
    
</ion-content>
