/*.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.timing{
	color:red;
	font-size:5vw;
	margin:10px 0;
}
.welcome-card  ion-card-subtitle { padding: 8px 0; font-size: 3vw; color: #737373;  font-weight:bold;}
ion-card-header:hover { background: #ed008c;color: #fafafa; }
.welcome-card  ion-card-subtitle:hover {  color: #fafafa; }
ion-card{ height:43vw;}
ion-icon{ font-size:28px; }
*/
.welcome-card ion-card-title{ font-size: 2.5vw;
    font-weight: bold;
    font-family: monospace; }
.timing{
	color:red;
	font-size:15px;
	margin:10px 0;
	font-weight: bold;
	letter-spacing: 0.3px;
}


