 <ion-toolbar color="primary">
    <ion-buttons   slot="start">
                <ion-back-button   defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>FAQ </ion-title>
  </ion-toolbar>