<ion-header class="toolbar-background">
   <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     My Address
    </ion-title>
    <ion-buttons  class="header-button cartc" [routerLink]="['/cart']" slot="end">
        
    <ion-icon  name="cart"></ion-icon>
       
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <form onsubmit="processForm(event)">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" oninput="handleFirstNameValue(event)"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" oninput="handleLastNameValue(event)"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Address<ion-text color="danger">*</ion-text></ion-label>
        </ion-item>
          <ion-item>
          <ion-input placeholder="Address Line 1"></ion-input>
          </ion-item>
          <ion-item>
          <ion-input placeholder="Address Line 2"></ion-input>
          </ion-item>
          <ion-item>
          <ion-input placeholder="City"></ion-input>
          </ion-item>
          <ion-item>
          <ion-input placeholder="State"></ion-input>
          </ion-item>
          <ion-item>
  
          <ion-input placeholder="Zip Code"></ion-input>
        </ion-item>
  
      </ion-list>
  
      <div class="ion-padding">
        <ion-button expand="block" type="submit" class="ion-no-margin">Save Changes</ion-button>
      </div>
    </form>
  </ion-content>
