<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons   slot="start">
                <ion-back-button   defaultHref="/"></ion-back-button>
              </ion-buttons>
    <ion-title>My-Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div text-center class="profilrpics">
                   <img src="assets/images/navin.jpg">
                </div>
                <div padding class="formicon">
                    <ion-item>
                        <ion-input type="text" placeholder="First Name">   <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="text" placeholder="last Name">   <ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="mail" placeholder="E-mail"> <ion-icon name="mail"></ion-icon>  </ion-input>
                    </ion-item>


                    <ion-item>
                        <ion-input type="number" name="phoneNumber" placeholder="Phone Number" required="required" minlength="10" ><ion-icon name="call"></ion-icon>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-input type="password" placeholder="Re-Enter Password"> <ion-icon ios="ios-lock" md="md-lock"></ion-icon></ion-input>
                    </ion-item>

                 
                </div>

                <div padding>
                   <ion-button color="success">Saved</ion-button>
                   <ion-button color="danger">Edit</ion-button>
                </div>





            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
